<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 
   <ul>

    <% 
    var formTitleArr = formTitleArr;
    var des = des;
    for(var i = 0; i <formTitleArr.length; i++){
    %>
    <li>
        <a href="form_recive/<%=[i] %>"> <%= formTitleArr[i] %></a>
    </li>
    <%
    }
    %>

    </ul>
    <br/>
    <br/>
    <br/>
    <br/>


    <a href="/form">form으로 가기</a>

</body>
</html>