<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Generator" content="EditPlus®">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title> <%=a %>  </title>
  
 </head>
 <body>
     <%=arr %>
    
    <ul>
       
        <% for(var i=0; i< len ; i++) { %>
            <li>
                <%=arr[i] %>
            </li>
        <% } %>
    </ul>

 </body>
</html>
