<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
</head>

<body>
    <h1>
        <a href="/topic">server side javascript</a>
    </h1>
    <ul>
        <% var len = topics.length
             for (var i =0; i < len; i++) {%>
            <li>
                <a href="/topic/<%=topics[i] %>">
                    <%=topics[i] %>
                </a>
            </li>
            <% } %>
    </ul>

    <article>
        <h2>
            <%=title%>
        </h2>
        <p>
            <%=data%>
        </p>
    </article>

    <a href="/topic/new">글쓰기화면가기</a>
</body>

</html>